html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

:root {
    --primarycolor: #0a4275;
    --secondarycolor: rgb(228, 218, 218);
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2: #22282a;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: var(--lightcolor);
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgcolor-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primarycolor);
    border-radius: 40px;
}
/* <!-- Header start--> */
.top {
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: minmax(50px,auto);
    grid-template-areas: "logo nav nav nav nav . . . profile profile";
    margin-bottom: -20px;
    border-bottom: 1px solid var(--secondarycolor);
    padding: 28px 106px;
    ;
}

    .top .logo {
        grid-area: logo;
    }

    .top nav {
        grid-area: nav;
        margin: 12px;
    }

ul {
    list-style: none;
}

    ul li {
        display: inline;
        padding-right: 30px;
    }

a {
    text-decoration: none;
    color: var(--primarycolor);
}

    a:hover {
        border-top: 2px solid var(--primarycolor);
        border-bottom: 2px solid var(--primarycolor);
        color: var(--secondarycolor);
    }

.top .top_images {
    grid-area: profile;
}

.profile {
    height: 30px;
    width: 30px;
    margin: 4px 2px;
}
/* <!-- Header End--> */
body {
    background-color: #121111;
}

.page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(50px, auto);
    height: auto;
    grid-template-areas:
        "top top top top top top top top top top"
        "sign sign sign sign sign sign sign sign sign sign"
        "foot foot foot foot foot foot foot foot foot foot";
}
/* <!-- Header start--> */
.top {
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: minmax(50px,auto);
    grid-template-areas: "logo nav nav nav nav . . . profile profile";
    margin-bottom: -20px;
    border-bottom: 1px solid var(--secondarycolor);
    padding: 28px 106px;
    ;
}

    .top .logo {
        grid-area: logo;
    }

    .top nav {
        grid-area: nav;
        margin: 12px;
    }

    .top ul {
        list-style: none;
    }

        .top ul li {
            display: inline;
            padding-right: 30px;
        }

    .top a {
        text-decoration: none;
        color: var(--primarycolor);
    }

        .top a:hover {
            border-top: 2px solid var(--primarycolor);
            border-bottom: 2px solid var(--primarycolor);
            color: var(--secondarycolor);
        }

.profile-pic {
    grid-area: profile;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* <!-- Header End--> */
body {
  margin-bottom: 60px;
}
.profile-pic{
    height:250px;
    width:250px;
    object-fit:cover;
}
.avatar{
    height:40px;
    width:40px;
}

/* FooterStart */
footer {
    background-color: var(--bgcolor-1);
    height: 250px;
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: "contact contact contact contact contact contact contact contact contact contact";
}

.contact {
    grid-area: contact;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

    .contact .content {
        max-width: 800px;
        text-align: center;
    }

        .contact .content h2 {
            font-size: 3em;
            color: var(--lightcolor);
            font-weight: 500;
        }

        .contact .content p {
            color: var(--lightcolor);
            font-size: 1.1em;
            font-weight: 300;
        }

.contain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

    .contain .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

        .contain .contactInfo .box {
            position: relative;
            padding: 20px 0;
            display: flex;
            cursor: pointer;
        }

            .contain .contactInfo .box .icon {
                min-width: 60px;
                height: 60px;
                background: var(--lightcolor);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.75em;
                transition: 0.5s;
            }

            .contain .contactInfo .box:hover .icon {
                background: var(--primarycolor);
                color: var(--lightcolor);
            }

            .contain .contactInfo .box .text {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                font-size: 1.1em;
                color: var(--lightcolor);
                font-weight: 300;
            }

                .contain .contactInfo .box .text h3 {
                    font-weight: 500;
                    color: var(--primarycolor);
                }

        .contain .contactInfo .txt {
            color: var(--lightcolor);
            margin-top: 50px;
            font-weight: 500;
            padding-left: 10px;
            border-left: 50px solid var();
            line-height: 1em;
        }

.sci {
    position: relative;
    display: flex;
    margin: 20px 0;
}

    .sci li {
        list-style: none;
    }

        .sci li a {
            color: var(--lightcolor);
            font-size: 2em;
            transition: 0.5s;
        }

            .sci li a:hover {
                color: var(--primarycolor);
            }

.contain .contactForm {
    position: relative;
    width: 40%;
    background: var(--lightcolor);
    min-height: 100px;
    padding: 60px;
}
.contain .contactForm h2 {
        font-size: 2em;
        color: #333;
        font-weight: 500;
    }

    .contain .contactForm .inputBox {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }

        .contain .contactForm .inputBox input,
        .contain .contactForm .inputBox textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 1.1em;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
            resize: none;
        }

        .contain .contactForm .inputBox span {
            position: absolute;
            left: 0;
            pointer-events: none;
            padding: 5px 0;
            margin: 10px 0;
            font-size: 1.1em;
            color: #666;
            transition: 0.5s;
        }

        .contain .contactForm .inputBox input:focus ~ span,
        .contain .contactForm .inputBox textarea:focus ~ span,
        .contain .contactForm .inputBox input:valid ~ span,
        .contain .contactForm .inputBox textarea:valid ~ span {
            color: #e91e63;
            font-size: 0.9em;
            transform: translateY(-20px);
        }

        .contain .contactForm .inputBox input[type="submit"] {
            width: 100px;
            background: var(--primarycolor);
            color: var(--lightcolor);
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 1.1em;
            font-weight: 500;
        }



/* Login Start */
.LoginForm {
    grid-area: Login;
    display: flex;
    height: 320px;
    margin: 110px auto;
    width: 710px;
}

@media (max-width: 767px) {
    .LoginForm {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}

.left {
    background: var(--lightcolor);
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: var(--primarycolor);
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {
    background: var(--primarycolor);
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: var(--lightcolor);
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}

svg {
    position: absolute;
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    ;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}

.form {
    margin: 40px;
    position: absolute;
}

.label {
    color: var(--lightcolor);
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.input {
    background: transparent;
    border: 0;
    color: var(--lightcolor);
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    border: 0.1px solid;
    border-radius: 20px;
}

    .input::-moz-focus-inner {
        border: 0;
    }

#submit {
    color: var(--lightcolor);
    margin-top: 40px;
    transition: color 300ms;
    background: transparent;
    border: 0;
    color: var(--lightcolor);
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 35%;
    border: 0.1px solid;
    border-radius: 20px;
    cursor: pointer;
}

    #submit:focus {
        color: #f2f2f2;
    }

    #submit:active {
        color: #d0d0d2;
    }

/* Login End */

/* SliderStart */
.Details {
    grid-area: Detail;
}

.CarForm {
    border: 1px solid var(--lightcolor);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas:
        ". . slide slide slide slide slide slide . ."
        ". . Details Details Details Details Details Details . .";
    max-width: 1000px;
    background-color: var(--primarycolor);
    border-radius: 20px;
    position: relative;
    margin: 30px 200px;
}

.slider {
    grid-area: slide;
    position: relative;
}

.slides {
    display: flex;
    width: 500px;
    margin: 50px 0px 40px 0px;
}

    .slides img {
        width: 120%;
        height: auto;
    }

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: var(--lightcolor);
    cursor: pointer;
}

.prev {
    left: -27px;
}

.next {
    left: 596px;
}
